$theme_color: #8a2be2;
$border_style: solid 1px;
$error_background_color: #f004;
$tragedy_font: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$public_status_background: gold;
$wide_screen_min_width: 800px;
$narrow_screen_max_width: $wide_screen_min_width - 1px;
