@use '../parts';

.paginator_link {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin: 16px 8px;

    .prev, .next {
        a {
            text-decoration: none;
        }
    }

    .current_page {
        font-weight: bold;
    }
}
