@use '../parts';

.admin-scenario-updated {
    .scenario_list {
        > li {
            display: flex;
            flex-wrap: wrap;
            margin-top: 1em;
            column-gap: .3em;
            border-bottom: double;
        }
    }
}
