body.my_scenario-create {
    padding-bottom: 32px;

    .character_row {
        margin-bottom: 24px;

        .note_wrapper {
            > span {
                margin-bottom: 4px;
            }
        }
    }

    ul.scenario_incident_list {
        > li {
            border-top: solid 1px;

            &:first-child {
                border-top: none;
            }
        }
    }

    .submit_button_wrapper {
        margin-top: 40px;
    }
}
