body.my_scenario-create {
    padding-bottom: 20px;

    .character_row {
        margin-bottom: 24px;
    }

    ul.scenario_incident_list {
        > li {
            border-top: solid 1px;

            &:first-child {
                border-top: none;
            }
        }
    }
}
