@use '../parts';

.my_scenario-bookmarks {
    main {
        div.frame {
            width: fit-content;
            margin: auto;

            .no_bookmarks {
                margin: 24px auto;
            }

            .bookmark_scenario_list {
                width: 95%;
                max-width: 520px;
                margin: 20px auto;
                padding: 0 8px;
            }
        }
    }
}
