@use '../parts';

.my_scenario-index {
    main {
        width: fit-content;

        .header_console {

            .button {
                margin: 8px auto;
            }
        }

        .my_scenario_list {
            > li {
                margin: 10px;
                border-bottom: 1px solid black;
                padding-bottom: 2px;

                .open {
                    margin-left: 4px;
                    padding: 0 4px;
                    background: parts.$public_status_background;
                    font-weight: bold;
                    display: inline-block;
                }

                .like {
                    display: inline-block;
                    font-size: 0.8em;

                    img {
                        height: 1em;
                        width: 1em;
                    }
                }
            }
        }
    }
}
