
.scenario-show {
    .public_sheet {
        width: fit-content;
        margin: 0 auto;
    }

    .js-hide_private_sheet {
        display: none;
    }

    .private_sheet {
        display: none;
    }
}
