@use '../parts';

$wide_screen_min_width: 800px;
$narrow_screen_min_width: $wide_screen_min_width - 1px;

.scenario-show {
    main {
        width: 100%;
    }

    th {
        font-family: parts.$tragedy_font;
    }

    .public_sheet {
        width: fit-content;
        margin: 0 auto;
        text-align: center;

        .special_rule_wrapper {
            border: double 3px;
            text-align: start;
            padding: 2px;
        }

        .incident_list {
            th {
                text-align: center;
            }

            td.day {
                text-align: center;
                font-weight: bold;
            }
            td.name {
                min-width: 200px;
                text-align: start;
            }
        }
    }

    .js-hide_private_sheet {
        display: none;
    }

    .private_toggle_button_wrapper {
        margin: 24px auto 0;
        width: fit-content;
    }

    .private_sheet_wrapper {
        display: none;

        &.showing {
            @media screen and (max-width: $narrow_screen_min_width) {
                display: block;
            }
            @media screen and (min-width: $wide_screen_min_width) {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row-reverse;
                width: fit-content;
                justify-content: center;
                margin: 0 auto;
            }
        }

        .invalid_conditions_wrapper {
            width: fit-content;
            height: fit-content;
            margin: 10px auto;
            border: 2px solid red;
            padding: 4px;

            > div {
                width: fit-content;
                margin: 0 auto;
                color: red;
            }

            ul {
                width: fit-content;
                margin: 12px auto 0;
                padding-inline-start: 28px;
                font-size: 0.9em;

                > li {
                    list-style: disc;
                }
            }
        }

        h2 {
            @media screen and (min-width: $wide_screen_min_width) {
                width: 100%;
                padding-left: 50%;
            }
        }

        .writer_wrapper {
            width: fit-content;
            margin: 0 auto;
            max-width: 95%;
            @media screen and (min-width: $wide_screen_min_width) {
                margin-left: 16px;
                max-width: 48%;
            }

            .private_sheet {
                margin: 0 auto;
                border: solid 1px;
                padding: 8px;
                width: fit-content;
                @media screen and (min-width: $wide_screen_min_width) {
                    min-width: 340px;
                }

                .scenario_title {
                    text-align: center;
                    width: auto;
                    border-bottom: 3px double;
                    margin: 0 8px 12px;
                }
                .difficulty {
                    text-align: center;
                }
                p.item_name {
                    font-weight: bold;

                    .people_count {
                        font-weight: normal;
                        font-size: 0.8em;
                    }
                }

                .character_list_wrapper {
                    @media screen and (min-width: $wide_screen_min_width) {
                        width: fit-content;
                        margin: 0 auto;
                    }

                    .character_list {
                        width: fit-content;
                        max-width: 99%;
                        min-width: 300px;
                        margin: 0 auto;
                        font-size: 0.75rem;

                        * {
                            word-break: keep-all;
                            white-space: nowrap;
                        }

                        td {
                            color: black;

                            &.not-person {
                                font-weight: bold;
                            }

                            &.note {
                                * {
                                    word-break: initial;
                                    white-space: initial;
                                }
                            }

                            > span {
                                display: table-row;
                            }
                        }
                    }
                }

                .incident_list_wrapper {
                    margin: 16px auto 0;
                    width: fit-content;

                    .incident_list {
                        font-size: 0.9rem;

                        th,td {
                            word-break: keep-all;
                            white-space: nowrap;

                            &.day {
                                text-align: center;
                            }
                        }
                    }
                }
            }

            .writer {
                margin: 4px 0;
                font-size: 12px;
                text-align: right;
            }
        }

        .initial_board_wrapper {
            margin: 36px auto;
            width: fit-content;
            display: none;
            @media screen and (min-width: $wide_screen_min_width) {
                width: 340px;
            }

            table {
                min-width: 320px;
                max-width: 99%;

                tr {
                    td {
                        width: 50%;
                        vertical-align: top;
                        padding-bottom: 4px;

                        p {
                            font-weight: bold;
                        }
                    }
                }
            }

            .others {
                margin-top: 6px;

                p {
                    display: inline-block;
                    font-weight: bold;
                }
            }

            .charas_in_board_wrapper {
                span {
                    font-size: .75rem;
                    border: solid 1px;
                    border-radius: 2px;
                    padding: 1px 2px 0;
                }
            }

            .hide_initial_board_wrapper {
                display: block;
                width: fit-content;
                margin-top: 20px;
                margin-right: 0;
                margin-left: auto;
            }
        }

        .show_initial_board_wrapper {
            margin: 8px auto;
            display: block;
            width: fit-content;
        }

        dl {
            margin-bottom: 40px;

            @media screen and (min-width: $wide_screen_min_width) {
                width: 48%;
            }

            dt {
                margin-top: 40px;
            }
        }
    }

    .writer_menu {
        width: fit-content;
        margin: 120px auto 0;
        border: 1px dashed;
        padding: 8px;
        font-size: 0.9em;

        > .title {
            font-size: 1.1em;
            font-weight: bold;
        }

        .open_status {
            margin: 8px 0;

            .title {
                font-weight: bold;
                width: fit-content;
                padding: 0 4px;

                &.public {
                    background-color: parts.$public_status_background;
                }
                &.private {
                    background-color: lightgray;
                }
            }
        }

        a:any-link {
            text-decoration: none;

            .button {
                margin: 8px auto;
            }
        }
    }

    .preview_close {
        background-color: white;
        margin: 0 auto 40px;
        width: fit-content;

        p {
            margin: 8px;
            background-color: black;
            color: white;
            padding: 2px 6px;
            cursor: pointer;
        }
    }
}
