.scenario-index {
    main {
        width: 100%;
    }

    .button_wrapper {
        width: fit-content;
        margin: 24px auto;

        .button {
            &.js-hide_title {
                display: none;
            }
        }
    }

    .scenario_list {
        width: 95%;
        max-width: 520px;
        margin: 0 auto;
        padding: 0 8px;
    }
}
