
.user-mypage {
    main {
        width: fit-content;

        .header_console {

            .button {
                margin: 8px auto;
            }
        }

        .my_scenario_list {
            > li {
                margin: 10px;
            }
        }
    }
}
