@use '../parts';

.my_scenario-index {
    main {
        .header_console {

            .button {
                margin: 8px auto;
            }
        }

        .my_scenario_list {
            max-width: 480px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 8px;
            padding-right: 8px;
        }

        input {
            max-width: 100%;
        }
    }
}
